.bg-img1 {
  background-color: #000;
  background-size: cover;
  /* background-image: url(image/la.jpg); */
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  /* background-image: url("image/chicago.jpg"); */
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  /* background-image: url("image/ny.jpg"); */
}
